<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-icon name="arrow-back" routerLink="/review"></ion-icon>
        Edit
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<br>

<ion-content>
<form>
  <div>
    <label style="margin-left: 17px">Puntuación</label>
    <ion-item>
        <ion-range min="0" max="5" step=".5" snaps="true" ticks="false" pin="true">
          <ion-icon size="small" slot="start" name="star-outline"></ion-icon>
          <ion-icon slot="end" src="../assets/star.svg"></ion-icon>
        </ion-range>
      </ion-item>
  </div>
  <br>
  
    <label style="margin-left: 17px">Reseña</label>
    <ion-item>
    <ion-textarea placeholder="Escribe la reseña" style="margin-left: 10px"></ion-textarea>
  </ion-item>
  <br>
  <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime displayFormat="MMM YYYY" placeholder="Select Date"></ion-datetime>
    </ion-item>

    <br>
    <br>
  
  <ion-button expand="block">
    Submit
  </ion-button>

</form>
</ion-content>
