<ion-header>
  <ion-toolbar>
    <ion-title>
      Comida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row>
    <ion-card style="width: 45%" routerLink="/tacos">
      <ion-img src="https://www.eluniversal.com.mx/sites/default/files/styles/f03-651x400/public/2019/03/11/istock-el_origen_de_los_tacos_al_pastor_0.jpg?itok=j0T6qjqZ"></ion-img>
        <ion-card-header>
            <ion-card-title>Tacos</ion-card-title>
            
          </ion-card-header>
    </ion-card>
    <ion-card style="width: 45%">
      <ion-img src="https://cdn.foodandwineespanol.com/2018/08/destacada-tortas-sa%CC%81ndwiches.jpg"></ion-img>
        <ion-card-header>
            <ion-card-title>Tortas</ion-card-title>
            
          </ion-card-header>
    </ion-card>
  </ion-row>

</ion-content>
