<ion-header>
  <ion-toolbar>

    <br>
    <ion-title *ngIf ="!search; else elseBlock">
      Películas y series
      <ion-button float-right fill="clear" class="b2" (click)="log()">
          <ion-icon size="small"  name="person"></ion-icon>
        </ion-button>
      <ion-button float-right fill="clear" class="b" (click)="search = !search">
        <ion-icon size="large"  name="search"></ion-icon>
      </ion-button>
    </ion-title>

  <ng-template #elseBlock>
    <ion-row>
      <ion-col size="2">
      <ion-button float-left fill="clear" class="b" (click)="search = !search">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
    <ion-searchbar animated></ion-searchbar>
  </ion-col>
  </ion-row>
  </ng-template>
  
  </ion-toolbar>

</ion-header>

<ion-content>

    <ion-fab *ngIf="add" vertical="top" horizontal="end" slot="fixed" >
        <ion-fab-button>
          <ion-icon name="add" routerLink="/add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="danger">
          <ion-icon name="log-out" (click)="logout()"></ion-icon>
        </ion-fab-button>
      </ion-fab>
     

    <ion-card routerLink="/review">
      <ion-img src=" https://staticuestudio.blob.core.windows.net/buhomag/2018/01/22155623/breaking-bad.jpg?auto=compress,format"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>Serie</ion-card-subtitle>
            <ion-card-title>Breaking Bad
                <ion-card-title float-right>5</ion-card-title>
                <ion-icon src="../assets/star.svg" float-right></ion-icon>
            </ion-card-title>
            
          </ion-card-header>
    </ion-card>
    <ion-card>
        <ion-img src="https://media1.fdncms.com/chicago/imager/u/original/42484688/mv5bmtm5ytc4yjctndnizs00zdg1lthkmgetmdk5zdc3oddmm2fjxkeyxkfq.jpg"></ion-img>
          <ion-card-header>
              <ion-card-subtitle>Película</ion-card-subtitle>
              <ion-card-title>Shape of water
                  <ion-card-title float-right>5</ion-card-title>
                  <ion-icon src="../assets/star.svg" float-right></ion-icon>
              </ion-card-title>
            </ion-card-header>
      </ion-card>
      <ion-card>
          <ion-img src="https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1555307737/shape/mentalfloss/bojackhed.png"></ion-img>
            <ion-card-header>
                <ion-card-subtitle>Serie</ion-card-subtitle>
                <ion-card-title>Bojack Horseman
                    <ion-card-title float-right>4</ion-card-title>
                    <ion-icon src="../assets/star.svg" float-right></ion-icon>
                </ion-card-title>
              </ion-card-header>
        </ion-card>
</ion-content>
